<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if @can_merge %>
	<%= form_tag("/admin/content/merge") do %>
		<h4><%= _("Merge Articles") %></h4>
  		<%= label_tag :merge_with, "Article ID" %>
    	<%= text_field_tag 'merge_with' %>
    	<%= hidden_field_tag('article_id', @article.id) %>
    	<%= submit_tag 'Merge' %>
	<% end %>
<% end %>